@import "index.scss";
@import "theme.scss";

@font-face {
  font-family: 'NeoSans';
  src: local('NeoSans'), url(fonts/NeoSansProRegular.OTF) format('opentype');
  font-weight: normal;
  font-style: normal;
}

.app{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
}

.main-content{
  height:100%;
  width:100%;
}


//#region password input

//#endregion

