@import "../theme.scss";
@import 'font-awesome/css/font-awesome.min.css';

.password-input-box{
  position: relative;
  width: 200px;
  box-sizing:border-box;
}

.password-input{
  // background-color: $surface-200;
  // color: white;
  // border-radius: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid #00000000;
  color: black;
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}

.password-input:focus-visible{
  outline: -webkit-focus-ring-color auto 0px;
}

.password-input:focus {
  border: 0px solid #00000000;
  color: black;
}

//Eye
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
  // color: #b8b8b8
}

.fa{
  color:lightgray;
}
