@import "../theme.scss";
@import 'font-awesome/css/font-awesome.min.css';

// src/components/PasswordInput.module.scss
// .passwordInputContainer {
//   position: relative;
//   width: 200px;
//   display: flex;
//   align-items: center;
// }

// .passwordInput {
//   width: 100%;
//   padding: 10px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   font-size: 16px;
// }

// .fa-eye,
// .fa-eye-slash {
//   position: absolute;
//   right: 10px;
//   cursor: pointer;
// }


.password-input{
  // background-color: $surface-200;
  // color: white;
  // border-radius: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid #00000000;
  color: black;
  width: 250px;
  height: 30px;
  padding-left: 10px;
}

.password-input:focus-visible{
  outline: -webkit-focus-ring-color auto 0px;
}

.password-input:focus {
  border: 0px solid #00000000;
  color: black;
}

//Eye
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}
